{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>MDU | Faculty Housing</title>

	<link rel="stylesheet" type="text/css" href="{% static '/css/style2.css'%}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	  <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
</head>
<body>
    <div class="header">
    <img class="head-img" src="{% static '/img/logo.png' %}"/>
        <div class="head-txt">
    <h1 class="head">M.D. University Rohtak</h1>
    <h1 class="head1">Faculty House Room Reservation Status</h1>
        </div>
    </div>
{#    <p>#}
    <div class="date-range">
<form method="get" class="date-picker">
    {{ context.form }}
    <button type="submit">Check Status</button>
</form>
</div>
        {#    </p>#}
<div class="owner-container">

    <div class="master-container">
    <div id="datepicker" class = "right-align"></div>

        <div class="block-container">

            <div class="floor">
                <div class="apartment floor-height">
                    <h3 class="ap-number">2nd</h3>
                    <p class="amities">Floor</p>
                </div>
{#                <div id="datepicker" >#}
                <div  class="apartment {{ context.booked_rooms.221.0.status }} {{ context.reserved_rooms.221.0.status }} 221">
                    <h3 class="ap-number">221</h3>
                    <p class="amities">AC</p>
                </div>
{#                </div>#}
                <div class="apartment {{ context.booked_rooms.222.0.status }} {{ context.reserved_rooms.222.0.status }} 222">
                    <h3 class="ap-number">222</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.223.0.status }} {{ context.reserved_rooms.223.0.status }} 223">
                    <h3 class="ap-number">223</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.224.0.status }} {{ context.reserved_rooms.224.0.status }} 224">
                    <h3 class="ap-number">224</h3>
                    <p class="amities">AC</p>
                </div>
            </div>
            <!-- floor section ends here -->
            <div class="floor">
                 <div class="apartment floor-height">
                    <h3 class="ap-number">1st</h3>
                    <p class="amities">Floor</p>
                </div>
                <div class="apartment {{ context.booked_rooms.111.0.status }} {{ context.reserved_rooms.111.0.status }} 111">
                    <h3 class="ap-number">111</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.112.0.status }} {{ context.reserved_rooms.112.0.status }} 112">
                    <h3 class="ap-number">112</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.113.0.status }} {{ context.reserved_rooms.113.0.status }} 113">
                    <h3 class="ap-number">113</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.114.0.status }} {{ context.reserved_rooms.114.0.status }} 114">
                    <h3 class="ap-number">114</h3>
                    <p class="amities">AC</p>
                </div>
            </div>
            <!-- floor section ends here -->
            <div class="floor">
                 <div class="apartment floor-height">
                    <h3 class="ap-number">GF</h3>
                    <p class="amities">Floor</p>
                </div>
                <div style="color: rgba(0,0,0,0);" class="apartment full {{ context.booked_rooms.VIPSuite1.0.status }} {{ context.reserved_rooms.VIPSuite1.0.status }}">
                    <h3 class="ap-number">A</h3>
                    <p class="amities">A</p>
                </div>
            </div>
            <!-- floor section ends here -->
        </div>
          <!-- block container ends here -->
        <div class="block-container">
            <div class="floor">

                <div class="apartment {{ context.booked_rooms.225.0.status }} {{ context.reserved_rooms.225.0.status }} 225">
                    <h3 class="ap-number">225</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.226.0.status }} {{ context.reserved_rooms.226.0.status }} 226">
                    <h3 class="ap-number">226</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.227.0.status }} {{ context.reserved_rooms.227.0.status }} 227">
                    <h3 class="ap-number">227</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.228.0.status }} {{ context.reserved_rooms.228.0.status }} 228 ">
                    <h3 class="ap-number">228</h3>
                    <p class="amities">AC</p>
                </div>
            </div>
            <!-- floor section ends here -->
            <div class="floor">

                <div class="apartment {{ context.booked_rooms.115.0.status }} {{ context.reserved_rooms.115.0.status }} 115">
                    <h3 class="ap-number">115</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.116.0.status }} {{ context.reserved_rooms.116.0.status }} 116">
                    <h3 class="ap-number">116</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.117.0.status }} {{ context.reserved_rooms.117.0.status }} 117">
                    <h3 class="ap-number">117</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.118.0.status }} {{ context.reserved_rooms.118.0.status }} 118">
                    <h3 class="ap-number">118</h3>
                    <p class="amities">AC</p>
                </div>
            </div>
            <!-- floor section ends here -->
            <div style="color: aliceblue" class="floor">

                <div style="color: rgba(0,0,0,0);" class="apartment full {{ context.booked_rooms.VIPSuite2.0.status }} {{ context.reserved_rooms.VIPSuite2.0.status}}">
                    <h3 class="ap-number">A</h3>
                    <p class="amities">A</p>
                </div>
            </div>
            <!-- floor section ends here -->
        </div>
        <!-- upper right block ends here -->


        <div class="block-container">
            <div class="floor">
                <div class="apartment floor-height">
                    <h3 class="ap-number">GF</h3>
                    <p class="amities">Floor</p>
                </div>
                <div class="apartment {{ context.booked_rooms.8.0.status }} {{ context.reserved_rooms.8.0.status }} 8">
                    <h3 class="ap-number">8</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.7.0.status }} {{ context.reserved_rooms.7.0.status }} 7">
                    <h3 class="ap-number">7</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.6.0.status }} {{ context.reserved_rooms.6.0.status }} 6">
                    <h3 class="ap-number">6</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.5.0.status }} {{ context.reserved_rooms.5.0.status }} 5">
                    <h3 class="ap-number">5</h3>
                    <p class="amities">AC</p>
                </div>
            </div>
            <!-- floor section ends here -->
            <div class="floor">
                <div class="apartment floor-height">
                    <h3 class="ap-number">1st</h3>
                    <p class="amities">Floor</p>
                </div>
                <div class="apartment {{ context.booked_rooms.16.0.status }} {{ context.reserved_rooms.16.0.status }} 16">
                    <h3 class="ap-number">16</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.15.0.status }} {{ context.reserved_rooms.15.0.status }} 15">
                    <h3 class="ap-number">15</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.14.0.status }} {{ context.reserved_rooms.14.0.status }} 14">
                    <h3 class="ap-number">14</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.13.0.status }} {{ context.reserved_rooms.13.0.status }} 13">
                    <h3 class="ap-number">13</h3>
                    <p class="amities">AC</p>
                </div>
            </div>
            <!-- floor section ends here -->
            <div class="floor">
                <div class="apartment floor-height">
                    <h3 class="ap-number">2nd</h3>
                    <p class="amities">Floor</p>
                </div>
                <div class="apartment {{ context.booked_rooms.24.0.status }} {{ context.reserved_rooms.24.0.status }} 24">
                    <h3 class="ap-number">24</h3>
                    <p class="amities">NON-AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.23.0.status }} {{ context.reserved_rooms.23.0.status }} 23">
                    <h3 class="ap-number">23</h3>
                    <p class="amities">NON-AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.22.0.status }} {{ context.reserved_rooms.22.0.status }} 22">
                    <h3 class="ap-number">22</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.21.0.status }} {{ context.reserved_rooms.21.0.status }} 21">
                    <h3 class="ap-number">21</h3>
                    <p class="amities">AC</p>
                </div>
            </div>
            <!-- floor section ends here -->
        </div>
          <!-- block container ends here -->
        <div class="block-container">
            <div class="floor">

                <div class="apartment half {{ context.booked_rooms.Suite2.0.status }} {{ context.reserved_rooms.Suite2.0.status }}">
                    <h3 class="ap-number">Suite 2</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment half {{ context.booked_rooms.Suite1.0.status }} {{ context.reserved_rooms.Suite1.0.status }}">
                    <h3 class="ap-number">Suite 1</h3>
                    <p class="amities">AC</p>
                </div>
            </div>
            <!-- floor section ends here -->
            <div class="floor">

                <div class="apartment {{ context.booked_rooms.12.0.status }} {{ context.reserved_rooms.12.0.status }} 12">
                    <h3 class="ap-number">12</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.11.0.status }} {{ context.reserved_rooms.11.0.status }} 11">
                    <h3 class="ap-number">11</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.10.0.status }} {{ context.reserved_rooms.10.0.status }} 10">
                    <h3 class="ap-number">10</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.9.0.status }} {{ context.reserved_rooms.9.0.status }} 9 ">
                    <h3 class="ap-number">9</h3>
                    <p class="amities">AC</p>
                </div>
            </div>
            <!-- floor section ends here -->
            <div class="floor">

                <div class="apartment {{ context.booked_rooms.20.0.status }} {{ context.reserved_rooms.20.0.status }} 20">
                    <h3 class="ap-number">20</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.19.0.status }} {{ context.reserved_rooms.19.0.status }} 19">
                    <h3 class="ap-number">19</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.18.0.status }} {{ context.reserved_rooms.18.0.status }} 18">
                    <h3 class="ap-number">18</h3>
                    <p class="amities">AC</p>
                </div>
                <div class="apartment {{ context.booked_rooms.17.0.status }} {{ context.reserved_rooms.17.0.status }} 17">
                    <h3 class="ap-number">17</h3>
                    <p class="amities">AC</p>
                </div>
            </div>
            <!-- floor section ends here -->
        </div>
        <!-- upper right block ends here -->

        <p class="status-time">Last Updated On :  {{ context.last_updated }}</p>
    </div><!-- master-container ends here -->
    </div>
    <div class="instr">
        <p><span class="icom inactive">o</span>Reserved</p>
        <p><span class="icom booked">o</span>Booked</p>
        <p><span class="icom vacant">o</span>Vacant</p>
    </div>
    <p class="status-time">last updated on {{ context.last_updated }}</p>
    <div class="footer">
        <p>Designed and Developed by :Traning and Placement Cell UIET in association with <a href="//geekhub.in">Geek Hub UIET</a></p>
    </div>
</body>
<script type="text/javascript">
    $(document).ready(
            $('.errorlist').remove(),
            $('.date-picker > label').addClass('changed')
    )
</script>
{#<script type="text/javascript">#}
{#    var eventDates = {};#}
{#    {% for datum in context.booked_rooms.booking_data %}#}
{#        eventDates[ new Date( '09/07/2017' )] = new Date( '09/07/2017' );#}
{#eventDates[ new Date( '09/12/2017' )] = new Date( '09/12/2017' );#}
{#eventDates[ new Date( '09/18/2017' )] = new Date( '09/18/2017' );#}
{#eventDates[ new Date( '09/23/2017' )] = new Date( '09/23/2017' );#}
{#    $(document).ready(function test(eventDates) {#}
{#        console.log('{{datum}}');#}
{#        $('.{{ datum.room.number }}').click(function () {#}
{#            $('#datepicker').datepicker({#}
                {#            showOn : "focus",#}
                {#            autosize: true#}
{##}
{#                beforeShowDay: function (date) {#}
{#                    var highlight = eventDates[date];#}
{#                    if (highlight) {#}
{#                        return [true, "event", 'Tooltip text'];#}
{#                    } else {#}
{#                        return [true, '', ''];#}
{#                    }#}
{#                }#}
{#            });#}
{#        }).mouseout(function () {#}
{#            $('#datepicker').removeClass("hasDatepicker");#}
{#            $('.ui-datepicker-inline').remove()#}
{##}
{#        });#}
        {#    });#}
{#            , function () {#}
{#        $('#datepicker').removeClass("hasDatepicker");#}
{#        $('.ui-datepicker-inline').remove()#}
{#    $this.datepicker("hide");#}
{#    };#}
{#    {% endfor %}#}
{#</script>#}
</html>
